* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 90rem;
  margin: 0 auto;
}

.root {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  width: 100vw;
  padding: 0 150px;
  max-width: 1440px;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem;
  background-color: white;
  border-bottom: thin solid #bbbbbb;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.navbar__nav{
  padding: 0 2rem;
  cursor: pointer;
  color: black;
}

.navbar__nav :hover{
  text-shadow: 0 0 25px #ff4f3f;
}